<section class="servicios">
    <app-title class="servicios__title" [text]="title()"></app-title>

    <p>{{description()}}</p>

    <div class="servicios__icons">
        <div>
            <div class="servicios__icons-bg-yellow">A</div>
            <h4>Gestión a medida</h4>
        </div>
        <div>
            <div class="servicios__icons-bg-yellow">B</div>
            <h4>Rentas aseguradas</h4>
        </div>
        <div>
            <div class="servicios__icons-bg-yellow">C</div>
            <h4>Seguimiento Personalizado</h4>
        </div>
    </div>
</section>
